<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yandex test">
	<test thread-count="1" name="all">
		<classes>
			<class name="ru.qa.sbt.offroad.test.yandex.tests.E2E.Market" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
